<!-- inherit from base.html-->
{% extends "cooking/base_template.html" %}


<!-- Replace block content in base_template.html -->
{% block content %}
<h1 style="color: #d28fff">FlavorSync</h1>


<h2 style="color: #00ff7B">More to come</h2>
<ul class="list-group">
    {% for i in student_active_portfolios %}
    <li class="list-group-item">Name: {{i.name}}
    <p><strong>Portfolio:{{ i.portfolio.title }}
    <a class="btn btn-primary" href="{% url 'portfolio-detail' i.portfolio.id %}" role="button">View</a>
    </li>
    {% endfor %}
    </ul>

{% endblock %}