{% extends 'cooking/base_template.html' %}

{% block content %}
  <h1> Name: {{ ingredient.name }}</h1>

  <p><strong>Name:</strong> {{ ingredient.name }}</p>
  <p><strong>Description:</strong> {{ ingredient.description }}</p>
  <p><strong>Cooking Method:</strong> {{ ingredient.cooking_method }}</p>


  <a class="btn btn-primary" href="{{ ingredient.get_absolute_url }}" role="button">View</a>
  <a href="{% url 'delete_ingredient' ingredient.id %}" class="btn btn-danger">Delete</a>
  <a href="{% url 'update_ingredient' ingredient.id %}" class="btn btn-primary">Update</a>
{% endblock %}